package {{ .PackageName }}

import (
{{- range $import := .ImportList }}
	"{{ $import }}"
{{- end }}

)

{{- range $type, $fields := .Fields }}
	{{- if hasPrefix $type "$" }} 
		// +--------------------------------------------------+
		// | Begin Enum Definition For: {{ $type }}
		// +--------------------------------------------------+
		{{ $typeName := trimPrefix $type "$" }}
		type {{ $typeName }} {{ index (index $fields "$type") 0}}
		{{- range $enumKey, $enumValue := $fields }}
			{{- if eq $enumKey "$type"}} {{ continue }} {{- end }}
			const {{ $enumKey }}  {{ $typeName }} = {{ index $enumValue 0 }} 
		{{- end }}
		// +--------------------------------------------------+
		// | End Enum Definition For: {{ $type }}
		// +--------------------------------------------------+
		{{ continue }} 
	{{- end }}

	// +--------------------------------------------------+
	// | Begin Type Definition For: {{ $type }}
	// +--------------------------------------------------+

	type {{ $type }} bson.D

	{{- range $fieldName, $specs := $fields }}

		// +--------------------------------------------------+
		// |    Begin Field Definition For: {{ $fieldName }}
		// +--------------------------------------------------+

		var _{{ $type }}{{ $fieldName }}Name = db.FieldName[{{ $type }}{{ $fieldName }}Specs]()

		func {{ $type }}{{ $fieldName }}Name() string { 
		return _{{ $type }}{{ $fieldName }}Name
		}

		{{- if hasPrefix (index $specs 0) "$" }} 
			type {{ $type }}{{ $fieldName }}Specs struct {
			{{ $fieldName }}  {{ trimPrefix (index $specs 0) "$" }}  {{ index $specs 1 }}
			}
			{{ continue }}
		{{- end }}

		{{ $preferredType := (whichType (index $specs 0)) }}
		{{- if ne $preferredType (index $specs 0) }} 
			type {{ $type }}{{ $fieldName }}Specs[T any] struct {
			{{ $fieldName }} {{ $preferredType }} {{ index $specs 1 }}
			}

			func (x {{ $type }}) {{ $type }}{{ $fieldName }}(v  {{ $type }}{{ $fieldName }}) {{ $type }} {
			return append(x, bson.E{Key: {{ $type }}{{ $fieldName }}Name(), Value: v})
			}

			func {{ $type }}{{ $fieldName }}BsonE(v  {{ $type }}{{ $fieldName }}) bson.E {
			return bson.E{Key: {{ $type }}{{ $fieldName }}Name(), Value: v}
			}

		{{- else }}
			type {{ $type }}{{ $fieldName }}Specs struct {
			{{ $fieldName }}  {{ index $specs 0 }}  {{ index $specs 1 }}
			}

			func (x {{ $type }}) {{ $type }}{{ $fieldName }}(v  {{ index $specs 0 }}) {{ $type }} {
			return append(x, bson.E{Key: {{ $type }}{{ $fieldName }}Name(), Value: v})
			}

			func {{ $type }}{{ $fieldName }}BsonE(v  {{ index $specs 0 }}) bson.E {
			return bson.E{Key: {{ $type }}{{ $fieldName }}Name(), Value: v}
			}
		{{- end }}



		{{/* 
        func {{ $fieldName }}(v {{ index $specs 0 }}) {{ $type }} {
            return {{ $type }}(bson.E{Key: {{ $fieldName }}Name(), Value: v})
        }
        
        func {{ $fieldName }}IfPresent(v {{- if not (hasPrefix (index $specs 0) "*") }} *{{- end}} {{- index $specs 0 }}) {{ $type }} {
            if v == nil {
                return {{ $type }}(bson.E{})
            }
            return {{ $type }}(bson.E{Key: {{ $fieldName }}Name(), Value: v})
        } */}}

		// +--------------------------------------------------+
		// |    End Field Definition For: {{ $fieldName }}
		// +--------------------------------------------------+

	{{- end }}

	// +--------------------------------------------------+
	// | End Type Definition For: {{ $type }}
	// +--------------------------------------------------+

{{- end }}